=form_for [conversation, messages], remote:true, authenticity_token:true do |f|
  = f.label :your_message
  = f.text_field :body, class: "form-control", data:{textarea:"message"}
  = f.submit "send",class: "btn btn-primary",style: "display:none",data: {send:"message"}